.cardMenu{
     position: absolute;
     background-color: black;
     color: white;
     width: 80%;
     height: 44%;
     border-radius: 50%;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border:"1px solid gray"; 
     box-shadow :0px 0px 30px rgb(171, 170, 170);
     opacity: 0.9;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.cardMenu a p{
   color: white;
}
.cardMenu p{
     padding-bottom: 14px;
     font-size: 20px;
     cursor: pointer;
     transition: all 1s;
}
.cardMenu p:hover{
     font-size: 32px;
}