.cardMenu{
     position: absolute;
     background-color: black;
     width: 80%;
     height: 48%;
     border-radius: 50%;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border:"1px solid gray"; 
     box-shadow :0px 0px 30px gray;
     opacity: 0.9;

     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
  
}

.cardMenu p{
     padding-bottom: 14px;
     font-size: 20px;
     cursor: pointer;
     transition: all 1s;
}
.cardMenu p:hover{
     font-size: 32px;
}