/* styles for Absolute img decoration next login form */
.absoluteImg1{
   position: absolute;
   z-index:-50;
   top:24px;  
   left: -220px;
   width: 446px; 
   animation: show 2s;
}
.absoluteImg2{
   position: absolute;
   z-index:-50;
   top:48px;  
   right: -140px;
   width: 318px; 
   animation: show 2s;
}
/* add zIndex to  MUI Container component "main" */
.mainFormWrapper{
   z-index: 150;
}

@keyframes show {
   from {opacity: 0;}
   to {opacity: 1;}
 }
