.allUsersContainer{
     width: 100%;
     height: fit-content;
     padding-top: 22px;
     padding-bottom: 22px;
     display: flex;
     flex-direction: column;
     position: relative;
     border-top: 2px solid rgb(4, 82, 4);
     background-image: url("../../images/carbon1.webp");
     background-size: contain;
}
.userListTitle{
     width: 100%;
     text-align: center;
     font-size: 50px !important;
     margin-bottom: 26px;
     color: rgb(9, 181, 9);
}
.cardWrapper{
     width: 100%;
     padding:40px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;

     justify-content:center;
     align-items: flex-start;
     gap: 40px 40px;

     /* border: 2px solid green; */
     
}
/* from user list add new users */
.createNewUser{
     position: absolute!important;
     right:40px;
     top: 0;
}

@media only screen and (max-width: 650px) {
   .createNewUser{
      right:0px;
      zoom: 0.7;
      top:-20px;
   }
 }
