.MyProfileMainContainer{
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height:80vh;
   max-height: fit-content;
   padding:40px 20px 100px 40px;
   border: 2px solid orange;
   margin-top: 55px;

   background-image: url("../QuestionRoom/ViewMore/paperBG.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   line-height: 24px;
}
.MyProfileMainContainer > h1{
   width: 100%;
   font-size: 28px;
   text-align: center;
}

.addBookBtnContainer{
   margin-top: 20px;
   width: fit-content;
   width: 100%;
   text-align: center;
  
 }
 .addBookBtnContainer button{
   width: 300px;
   font-size: 12px;
 }
