.AddCommentFormMain{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 12px;
   padding: 18px 12px;
   font-family: inherit;
   border: "1px soldi red";
   border: 5px solid red;

   position: absolute;
   z-index: 1000;
   top: 0;
   left: 250px;
}
.textarea{
   width: 100%;
   background-color: black;
   outline: gray;
   font-size: 18px;
   font-family: inherit;
   resize: none;
}
