.lockCoverDiv{
   width: 80px;
   height: 10vh;
   border: 2px solid red;
   position: absolute;
}




/* OLD HEADER  */
/* .header {
     width: 100%;
     min-height: 10vh;
     max-height: fit-content;
     max-height: fit-content;
     text-align: center;
     background-color: black;
     display: flex;
     justify-content: center;
     opacity: 0.8;  

     
}
.header h1{
     padding: 12px 12px 12px 12px;
     font-size: 28px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.header img{
     margin-left: 20px;
     width: 36px;
     vertical-align: middle;
     border: 2px solid green;
     border-radius: 25px;
}

@media only screen and (max-width: 600px) {
     .header {
      zoom: 0.7;
     }
   } */