.mainContainer{
   width: 600px;
   display: flex;
   flex-direction: row;
   border: 2px solid rgb(181, 181, 63);
   height: 400px;
   overflow: hidden;
   border-radius: 10px;
   position: relative;
   zoom: 0.8;
}
.mainContainer:nth-child(odd){
   box-shadow: -10px -10px  15px #888888;
}
.mainContainer:nth-child(even){
   box-shadow: 10px -10px  15px #888888;
}

.bookImgContainer{
   width: 50%;
   /* border: 1px solid orange; */
   padding: 12px;
}

.bookImgContainer img{
   width: 100%;
   height: 100%;
}

.questionContainer{
   width: 50%;
   /* border: 1px solid grey; */
   padding: 12px 12px 0px 12px;
   background-color: rgb(247, 212, 171);
}

.bookTitleContainer{
   width: 100%;
   padding: 8px 12px 8px 12px;
   max-height: 100px;
   overflow-y: hidden;
   /* border: 3px solid red; */
   text-align: center;
   display: flex;
   flex-direction: column;
   
}
.bookTitleContainer > h3{
   opacity: 0.9;
   font-size: 22px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bookTitleContainer > h2{
   opacity: 0.9;
   font-style: italic;
   font-size: 20px;
   text-align: left;
   word-wrap: break-word;
}
.questionText{
   padding:38px 18px 18px 18px;
   width: 100%;
   /* border: 1px solid green; */
   height: fit-content;
   height: 47%;
   font-size: 18px;
   line-height: 18px;
   position: relative;
   overflow: hidden; 
  
}
.questionText p{
   /* background-color: black; */
   word-wrap: break-word;
   text-overflow: ellipsis;
}

.questionText > h6{
   position: absolute;
   top: 0px;
   left:0px;
   font-size: 20px;
   opacity: 0.8;
}
/* .btnContainer{
 
} */
.ViewMoreBtn{
   position: absolute!important;
   bottom: 22px;
   right: 12px;
}