.indexClubRoomMain {
   height: 100%;
   padding: 40px 20px;
   background-image: url("../../QuestionRoom/ViewMore/paperBG.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   line-height: 24px;
   color: white;
   top: 64px;
   left: 240px;
   right: 0px;
   bottom: 0px;
   overflow-y: auto;
   position: fixed;
   color: black;
   display: flex;
   flex-direction: column;

}

.msgContainer {
   width: 100%;
   font-size: 32px;
   font-weight: 400;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: left;
}

.infContainer {
   margin-top: 20px;
   padding: 20px 60px;
}

.infContainer h1 {
   text-align: center;
   font-size: 28px;
   margin-bottom: 20px;
}

.clubColumnsContainer {
   /* border: 1px solid green; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.clubColumnsContainer div {
   display: flex;
   flex-direction: column;
   padding: 4px 4px;
}
.clubColumnsContainer div h2{
   font-size: 18px;
   border-bottom: 1px solid black;
}
.clubColumnsContainer div p,a{
   font-size: 18px;
   text-decoration: none;
   color:black
}
/* .outletContainer{
   width: 100%;

} */