.bClubsMainContainer{
   width: 100%;
   /* height depends on ClubRoom component styles */
   display: flex;
   flex-direction: row;
   border: 2px solid black;
   background-image: url("../QuestionRoom/ViewMore/paperBG.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   line-height: 24px;
   /* border: 2px solid green; */
   position: relative;
   overflow-x: hidden;
}

.listClubsContainer{
   min-width: 380px;
   max-width: 380px;
   max-height: 100%;
   background-color:black;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 10px 40px 80px 40px;
   gap:50px;

   overflow-y: auto;
   top:60px;
   bottom:0;
   position: fixed;

   /* border: 5px solid orange; */
   
}
.listClubsContainer h1{
   width: 100%;
   font-size: 22px;
   text-align: center;
   padding:12px 8px;
   border-bottom: 1px solid gray;
   
}
