.filterContainer{
     width: 100%;
     height: fit-content;
     /* background-color: rgb(113, 113, 113); */
     display: flex !important;
     flex-direction: row;
     flex-wrap: wrap !important;
     justify-content: center;
     align-items: center;
}

.filterContainer form.filterForm{
     display: flex !important;
     flex-direction: row;
     justify-content: center!important;
     align-content: center;
     padding-bottom: 12px;
      font-size: 18px;
      gap: 15px;
     /* background-color: rgb(74, 6, 6) !important; */
     border: none !important;
     width: fit-content !important;
     border: 2px solid green !important;
     border-radius: none !important;
     height: fit-content !important;
}
.filterContainer form label{
   color:white;
   padding-top: 6px;
   opacity: 0.8;
}

@media only screen and (max-width: 800px) {
     .filterContainer {
       /* flex-direction: column !important; */
       zoom: 0.9;
     }
     .filterContainer .filterForm{
          /* flex-direction: column !important; */
          zoom: 0.8;
        
        }
   }

   @media only screen and (max-width: 600px) {
     .filterContainer .filterForm{
       flex-direction: column !important;
       zoom: 0.9;
     }
     .filterContainer .filterForm{
          flex-direction: column !important;
          zoom: 0.9;
            
      }
      .filterContainer form.filterForm{
         width: 80%!important;
      }
   }

