.tqCard{
   margin-top: 180px;
   margin-bottom: 40px;
   padding: 20px;
   width: 90%;
   border: 2px solid black;
   min-height: 220px;
   max-height: fit-content;
   color: black;
   display: flex;
   flex-direction: row;
   gap: 10px;
   background-color: black;
   border-radius: 0px 5px 5px 5px;
   box-shadow: 5px 15px 25px 5px #888888;
   color: white;
   position: relative;
}
.qAuthor{
   position: absolute;
   top:-74px;
   left: -2px;
   
}
.bookImgContainer{
   min-width: 176px;
   max-width: 176px;
   height: fit-content;
   display: flex;
   justify-items: center;
   align-items: center;
}
.bookImgContainer img{
   width: 100%;
}
.textContainer{
   min-width: 100px;
   max-width: 1200px;
   min-height: 220px;
   max-height: fit-content;
   padding:0px 18px 18px 18px;
}
.bookTitle{
   font-size: 22px;
   opacity: 0.8;
   padding-bottom: 4px;
   border-bottom: 1px solid gray;
   word-wrap: break-word;
}
.questionText{
   font-size: 18px;
   padding-top: 18px;
   max-height: fit-content;
   width: 100%;
   word-wrap: break-word;
}

/* EDIT Question Btn */
.editQBtnContainer{
   position: absolute;
   top:8px;
   right: 8px;
}