.registerPageMainContainer{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
   margin-top: 55px;

   background-image: url("../QuestionRoom/ViewMore/paperBG.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   line-height: 18px;
   overflow: hidden; 
   padding-left: auto;
   padding-right: auto;
}
