.mainFormContainer{
   width: 100%;
   min-height: 100vh;
   height: 100%;
   display: flex;
   justify-content: center;   
   align-items: center;
   position: fixed;
   top:5vh;
   left:0px;
   right:0px;
   bottom:0px;
}

.stop-scrolling {
   height: 100%;
   overflow: hidden;
 }

